---
title: '🎉 Your Account Has Been Successfully Restored'
bodyClass: bg-slate-50
---

<x-main>
  <h1 class="m-0 mb-4 text-xl sm:leading-8 text-black font-semibold">
    Hi @{{name}},
  </h1>

  <p class="m-0 leading-6">
    Great news! Your account <b>@{{account_id}}</b> has been successfully
    unsuspended and full access has been restored.
  </p>

  <p class="leading-6">
    We understand how important uninterrupted access is, and we appreciate your
    patience as we reviewed your account. You can now log in and continue using
    our services as usual.
  </p>

  <p class="leading-6">
    If you have any questions or need assistance, feel free to reach out to our
    support team at @{{support_email}} — we’re here to help.
  </p>

  <x-divider space-y="32px" class="bg-slate-200" />

  <p class="m-0">Welcome back! <br />The @{{app}} Team</p>
</x-main>
