---
title: 'Your KYC has been approved'
preheader: ''
bodyClass: bg-slate-50
---

<x-main>
  <h1 class="m-0 mb-4 text-xl sm:leading-8 text-black font-semibold">
    Hi @{{name}},
  </h1>

  <p class="m-0 leading-6">
    Great news — everything looks good and your KYC verification has been approved! 🎉
  </p>

    <p class="leading-6">
      You’re now fully verified and can access all features without any limitations. Thanks for taking the time to complete the process.
    </p>

    <x-divider space-y="32px" class="bg-slate-200" />

    <p class="m-0">Best, <br />@{{app}}</p>
  </p>

</x-main>
