---
title: '🔑 Password Reset Request'
preheader: ''
bodyClass: bg-slate-50
---

<x-main>
  <h1 class="m-0 mb-4 text-xl sm:leading-8 text-black font-semibold">
    Hi @{{name}},
  </h1>

  <p class="m-0 leading-6">
    We received a request to reset the password for your account. If you made
    this request, click the button below to proceed:
  </p>

  <x-spacer height="10px" />

  <x-button href="@{{url}}"> Reset My Password </x-button>

  <x-spacer height="10px" />

  <p class="m-0 leading-6">
    This link will expire in 15 minutes for your security. If you didn’t request
    a password reset, please ignore this email—your account is safe.
  </p>

  <p class="leading-6">
    If you need any assistance, feel free to reach out to our support team.
  </p>

  <x-divider space-y="32px" class="bg-slate-200" />

  <p class="m-0">Stay secure 🔒, <br />@{{app}}</p>
</x-main>
