---
title: '🔑 Here’s your new Doexcess password setup link'
preheader: ''
bodyClass: bg-slate-50
---

<x-main>
  <h1 class="m-0 mb-4 text-xl sm:leading-8 text-black font-semibold">
    Hi @{{name}},
  </h1>

  <p class="m-0 leading-6">
    You requested a new link to set up your password. For security reasons, this
    link is valid for the next 24 hours only.
  </p>

  <p class="leading-6">
    <a href="@{{url}}">👉 Set Your Password</a>
  </p>

  <p class="leading-6">
    If you didn’t request this, you can safely ignore this email—your account is
    secure.
  </p>

  <p class="m-0 leading-6">
    Need help? Our support team is here for you at support@doexcess.com.
  </p>

  <x-divider space-y="32px" class="bg-slate-200" />

  <p class="m-0">Warm regards, <br />The @{{app}} Team</p>
</x-main>
