---
title: '💸 Your Withdrawal Request Has Been Processed'
preheader: ''
bodyClass: bg-slate-50
---

<x-main>
  <section class="flex justify-center">
    <div class="mt-3">
      <h3 class="m-0 mb-2 text-2xl sm:leading-8 text-black font-semibold">
        Hi @{{name}}
      </h3>

      <p class="m-0 mb-2 leading-6">
        We’re pleased to inform you that your withdrawal request has been
        successfully processed.
      </p>

      <p class="m-0 leading-6">Processed on: @{{ date }}</p>
      <p class="m-0 leading-6">Reference ID: @{{ referenceID }}</p>

      <table class="table-auto invoice-summary mt-6 w-full">
        <tbody>
          <tr class="row border-bottom px-5">
            <td class="w-1/2 sm:w-full sm:inline-block align-top text-left">
              <table class="w-full">
                <tr>
                  <td
                    class="w-1/2 pr-2 sm:px-0 sm:pb-8 sm:w-full sm:inline-block align-top"
                  >
                    <table class="w-full">
                      <tr>
                        <td>
                          <p class="title">Amount:</p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
            <td class="w-1/2 sm:w-full sm:inline-block align-top text-right">
              <table class="w-full">
                <tr>
                  <td
                    class="w-1/2 pr-2 sm:px-0 sm:pb-8 sm:w-full sm:inline-block align-top"
                  >
                    <table class="w-full">
                      <tr>
                        <td><p>@{{amount}}</p></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class="row border-bottom px-5">
            <td class="w-1/2 sm:w-full sm:inline-block align-top text-left">
              <table class="w-full">
                <tr>
                  <td
                    class="w-1/2 pr-2 sm:px-0 sm:pb-8 sm:w-full sm:inline-block align-top"
                  >
                    <table class="w-full">
                      <tr>
                        <td>
                          <p class="title">Balance:</p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
            <td class="w-1/2 sm:w-full sm:inline-block align-top text-right">
              <table class="w-full">
                <tr>
                  <td
                    class="w-1/2 pr-2 sm:px-0 sm:pb-8 sm:w-full sm:inline-block align-top"
                  >
                    <table class="w-full">
                      <tr>
                        <td><p>@{{balance}}</p></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class="row border-bottom px-5">
            <td class="w-1/2 sm:w-full sm:inline-block align-top text-left">
              <table class="w-full">
                <tr>
                  <td
                    class="w-1/2 pr-2 sm:px-0 sm:pb-8 sm:w-full sm:inline-block align-top"
                  >
                    <table class="w-full">
                      <tr>
                        <td>
                          <p class="title">Previous balance:</p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
            <td class="w-1/2 sm:w-full sm:inline-block align-top text-right">
              <table class="w-full">
                <tr>
                  <td
                    class="w-1/2 pr-2 sm:px-0 sm:pb-8 sm:w-full sm:inline-block align-top"
                  >
                    <table class="w-full">
                      <tr>
                        <td><p>@{{previous_balance}}</p></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class="row border-bottom px-5">
            <td class="w-1/2 sm:w-full sm:inline-block align-top text-left">
              <table class="w-full">
                <tr>
                  <td
                    class="w-1/2 pr-2 sm:px-0 sm:pb-8 sm:w-full sm:inline-block align-top"
                  >
                    <table class="w-full">
                      <tr>
                        <td>
                          <p class="title">Payment Method:</p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
            <td class="w-1/2 sm:w-full sm:inline-block align-top text-right">
              <table class="w-full">
                <tr>
                  <td
                    class="w-1/2 pr-2 sm:px-0 sm:pb-8 sm:w-full sm:inline-block align-top"
                  >
                    <table class="w-full">
                      <tr>
                        <td><p>@{{payment_method}}</p></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="text-left mt-6">
        <p class="m-0 leading-6">
          The funds have been transferred to your registered withdrawal account.
          Kindly allow up to 24 hours for the transfer to reflect in your bank
          account, depending on your bank’s processing times.
        </p>
        <p class="mt-2 leading-6">
          If you have any questions or did not initiate this request, please
          contact us immediately at
          <a href="mailto:{{support_email}}">@{{ support_email }}</a>.
        </p>
      </div>
    </div>
  </section>

  <x-divider space-y="32px" class="bg-slate-200" />

  <p class="m-0">
    Best regards,<br />
    The @{{ app }} Team
  </p>
</x-main>
