---
title: '🔐 Your Password Was Updated Successfully'
preheader: ''
bodyClass: bg-slate-50
---

<x-main>
  <h1 class="m-0 mb-4 text-xl sm:leading-8 text-black font-semibold">
    Hi @{{name}}, 👋
  </h1>

  <p class="m-0 leading-6">
    This is to inform you that your account password was just updated.
  </p>

  <p class="m-0 leading-6">
    If you made this change, no further action is needed 🙌.
  </p>

  <p class="mt-2 leading-6">
    <b>Didn’t request this change?</b><br />
    Please reset your password immediately and contact our support team ⚠️
  </p>

  <p class="m-0 leading-6">
    🔁 Reset your password <a href="@{{link}}">link</a>
  </p>

  <p class="leading-6">
    For your safety, remember to use a strong, unique password 🛡️.
  </p>

  <p class="leading-6">Thanks for staying secure with us!</p>

  <x-divider space-y="32px" class="bg-slate-200" />

  <p class="m-0">Best regards, <br />The @{{app}} Team</p>
</x-main>
